body {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

.header-image {
	position: relative;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('drone.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;

}

.header-text {
	margin: 0;
	position: relative;
	text-align: center;
	top: 37%;
}


.header-text h1 {

	font-size: 70px;
	color: #fff;
	letter-spacing: 0.6em;
	
}

.header-text h1 span {
	border : 8px solid  #fff ;
	color:  #fff;
	padding : 15px 10px 15px 30px;
}


.circle {
	color: orange;
	position: absolute;
	top: 82%;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translate(-50%,-50%);
	font-size: 80px;

}

.circle a {
 color: #fff;
}

#showcase {
	width: 100%;
	height: 60vh;
	background: linear-gradient(to right , #ffc500,#ffc500);
}

#showcase h1 {
	font-size: 50px;
	padding-top: 13%;
	font-family: poppins;
	font-weight: bold;
	letter-spacing: 0.2rem;

}
#showcase p {
	color: #212529;
	font-size: 18px;
}

.tool-box {
	width: 100%;
	height: 70vh;
 	background: linear-gradient(to right , #c21500,#ffc500);
}

.tool-box h1 {
	color: #fff;
	font-family: poppins;	
	letter-spacing: 0.2rem;
	font-size: 50px;
	font-weight: bold; 
	padding-top: 35%;
	padding-left: 5%;

}

.tool-box p {
	color: #fff;
}

.tool-box img {
	
	width: 50px;
	height: 50px;
}

.card-image-top {
	margin-top: 20%;
	margin-left: 12%;
} 

.work {
	width: 100%;
	height: 70vh;
	background: linear-gradient(to right , #ffc500 , #ffc500);
}

.work h1 {
	font-family: poppins;
	font-size: 80px;
	font-weight: bold;
	padding-top: 50px;
}

.work p {
	color: #212529;
	font-size: 18px;
}

.footer {
	height: 50vh;
	background-color: #181820;

}
.footer h2,h3,p {
	color: #fff;
}

.footer h2{
	padding-top: 40px;
}

.footer h4{
	padding-top: 40px;
	color: #fff;
	font-size: 20px;
}

.footer a {
	margin-left: 40%;
	font-size: 25px;
	color: #ffc500;
}

.col-md-12 {
	border-top: 1px solid	#e4e4e4;
}

.col-md-12 p {
	margin-top: 12px;
}

@media(max-width: 768px){
	.container {
	float:none;
    text-align:center;
    width:100%;
	}

	.header-text h1 {

	font-size: 40px;
	color: #fff;
	letter-spacing: 0.6em;
	}

	.header-text h1 span {
	border : 4px solid  #fff ;
	color:  #fff;
	padding : 5px 5px 10px 10px;
	}


	#showcase h1 {
	font-size: 40px;
	
	}

	#showcase p {
		color: #212529;
		font-weight: 500;
	}



	.tool-box {
	width: 100%;
	height: 100vh;
 	background: linear-gradient(to right , #c21500,#ffc500);
	}

	.tool-box h1 {
	color: #fff;
	font-family: poppins;	
	letter-spacing: 0.2rem;
	font-size: 55px;
	font-weight: bold; 
	padding-top: 10%;
	padding-left: 1%;
	}

	.card-image-top {
	margin-top: 10%;
	margin-left: 9%;
	padding-bottom: 5px;
	} 

	.work p {
		color: #212529;
		font-weight: 500;
	}

	.footer {
	height: 70vh;
	background-color: #181820;

	}

	.footer h2{
		padding-top: 10px;
	}

	.footer h4{
		padding-top: 20px;
		padding-bottom: 5px;
		color: #fff;
		font-size: 16px;
	}

	.footer a {
		margin-left: 30px;
		font-size: 18px;
		color: #ffc500;
	}

	.col-md-12 {
		border-top: 1px solid	#e4e4e4;
	}

	.col-md-12 p {
		margin-top: 12px;
	}
}
@media(max-width: 414px){
	.container {
	float:none;
    text-align:center;
    width:100%;
	}

	.header-text h1 {

	font-size: 20px;
	color: #fff;
	letter-spacing: 0.6em;
	}

	.header-text h1 span {
	border : 2px solid  #fff ;
	color:  #fff;
	padding : 5px 5px 10px 10px;
	}

	.circle {
	
	top: 70%;
	left: 45%;
	width: 40px;
	height: 40px;
	transform: translate(-50%,-50%);
	font-size: 80px;
	}


	#showcase h1 {
	padding-top :30px;	
	font-size: 25px;
	line-height: 2.2rem;
	
	}

	#showcase{
		height: 30vh;
	}

	#showcase p {
		color: #212529;
		font-weight: 200;
	}



	.tool-box {
	width: 100%;
	height: 30vh;
 	background: linear-gradient(to right , #c21500,#ffc500);
	}

	.tool-box h1 {
	color: #fff;
	font-family: poppins;	
	letter-spacing: 0.2rem;
	font-size: 40px;
	font-weight: bold; 
	padding-top: 10%;
	padding-left: 1%;
	}

	.tool-box p{
		font-size: 13px;
	}

	.tool-box img {
	
	width: 40px;
	height: 40px;
	}

	.card-image-top {
	margin-top: 10%;
	margin-left: 9%;
	padding-bottom: 5px;
	} 

	.work p {
		color: #212529;
		font-weight: 500;
	}

	.work h1 {
		font-size: 50px;
	}

	.footer {
	width: 100%;
	height: 70vh;
	background-color: #181820;

	}

	.footer h2{
		padding-top: 10px;
	}

	.footer h4{
		padding-top: 10px;
		padding-bottom: 5px;
		color: #fff;
		font-size: 12px;
	}

	.footer a {
		margin-left: 10px;
		font-size: 12px;
		color: #ffc500;
	}

	.col-md-12 {
		border-top: 1px solid	#e4e4e4;
	}

	.col-md-12 p {
		margin-top: 8px;
	}
}
